# Swift Package Manager CI
name: Swift CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  swift-test:
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
